
@model DoAn_ASPNETCORE.Areas.Admin.Models.ViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">

                    <p>
                        <a asp-action="Create">Create New</a>
                    </p>
                    <form asp-controller="LoaiSanPham" asp-action="Index" method="get">
                        <p>


                            Title: <input type="text" asp-for="SearchString" />
                            <input type="submit" value="Filter" />
                        </p>
                    </form>


                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.LoaiSP[0].TenLoai)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LoaiSP[0].MaNCC)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LoaiSP[0].TrangThai)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.LoaiSP )
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TenLoai)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MaNCC.ID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TrangThai)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>