@model DoAn_ASPNETCORE.Areas.Admin.Models.HoaDonViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">

                    <p>
                        <a asp-area="Admin" asp-controller="HoaDon" asp-action="Create">Create New</a>
                    </p>

                    <form asp-controller="HoaDon" asp-action="Index" method="get">

                        <p>

                         

                            Tên Người Mua: <input type="text" asp-for="SearchString" />
                            <input type="submit" value="Filter" />
                        </p>
                    </form>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.HoaDons[0].User)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.HoaDons[0].HoTen)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.HoaDons[0].Sdt)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.HoaDons[0].ThanhTien)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.HoaDons[0].TrangThai)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.HoaDons)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.User_ID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.HoTen)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sdt)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ThanhTien)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TrangThai)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>