
@model DoAn_ASPNETCORE.Areas.Admin.Models.ChiTietHoaDonViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">

                    <p>
                        <a asp-action="Create">Create New</a>
                    </p>
                    <form asp-controller="ChiTietHoaDon" asp-action="Index" method="get">



                        <p>
                            ID Hóa Đơn: <input type="text" name="searchString"><button type="submit" class="btn-facebook">Tìm</button>
                           


                        </p>
                    </form>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.ChiTietHoaDons[0].HoaDon)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ChiTietHoaDons[0].TenSP)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ChiTietHoaDons[0].SoLuong)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ChiTietHoaDons[0].Gia)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ChiTietHoaDons[0].KhuyenMai)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ChiTietHoaDons[0].ThanhTien)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ChiTietHoaDons)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.HoaDon_ID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TenSP)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SoLuong)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Gia)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.KhuyenMai)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ThanhTien)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>